h1 {
    font-family: lorem;
    color: blue;
    padding: 10px;
    margin: 20px;
}

body {

    font-family: lorem;
    padding: 10px;
    margin: 20px;

}

footer {
    padding: 10px;
    color: grey;
    background-color: #CC2345;
}